@font-face {
  font-family: 'Exo2' ;
  src: url(./fonts/Exo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'LouisGeorgeCafe';
  src: url(./fonts/Louis\ George\ Cafe.ttf);
}
@font-face {
  font-family: 'LouisGeorgeCafeBold';
  src: url(./fonts/Louis\ George\ Cafe\ Bold.ttf);
}

/* styles*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
 
}

html body{
  font-size: 1rem;
  padding: 0px;
  margin: 0px;
  font-family: 'LouisGeorgeCafeBold', sans-serif
}

.main {
    display: flex;
    justify-content: center;
    width:100vw;
}

.background {
  background: url(./images/daniel-janzen-SgNvZ0NowoY-unsplash.jpg);
  flex-grow: 1;
  position: relative;
  width: 60vw;
  min-width: 345px;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
}

#odin {
  color:#ebebd8;
  font-size: 3em;
  font-family: 'Exo2', sans-serif;
  text-shadow: rgb(26, 25, 24) 1px 0 5px;
  margin-left: 10px;
}

#odin-logo {
  width: 5rem;
  padding: 10px;
}

.credit {
  font-size: .8rem;
  color: #ebebd8;
  text-shadow: rgb(26, 25, 24) 1px 0 5px;
  position: absolute;
  bottom: 60px;
  right: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60vw;
    height: 100vh;
    flex-grow: 2;
    background-color: rgba(238, 223, 223, 0.767);
}

.top {
    padding: 0 2vw;
}

.middle {
  font-family: 'LouisGeorgeCafe', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 0rem 0.8rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

.bottom {
  padding: 2vw;
}
form {
  display: flex;
  width: 60vw;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

label {
  position: relative;
  width: 12rem;
  margin-bottom: 5px;
}

input {
  font-family: 'LouisGeorgeCafeBold';
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  font-size: .9rem;
  margin-top: 3px;
}

input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
}

input:invalid:focus {
  border: 2px solid rgb(255, 69, 100)
}

input:focus:valid {
  border: rgb(0, 183, 255) 2px solid;
}

button {
  padding: .8rem 1.3rem;
  font-size: 1.3rem;
  background-color: rgb(130, 209, 78);
  border: none;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}
a {
  text-decoration: none;
  color: #6f7a55;
}